# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/


# --- Large Model Files ---
# If you want to hide ALL models:
*.h5

# --- Documentation & OS ---
.DS_Store
Thumbs.db
.ipynb_checkpoints/

